header {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;

	> .container {
		grid-column-start: 2;

		display: flex;
		justify-content: space-between;
		align-items: center;

		> .logo {

		}

		> .menu {
			> ul {
				list-style-type: none;
				display: flex;
				justify-content: flex-end;

				> li {
					padding-left: 20px;

					&:first-child {
						padding-left: 0;
					}
				}
			}
		}
	}

	@media (max-width: 1439px){
		grid-template-columns: 1fr 10fr 1fr;
	}
}
