.home {

	background-image: $gradient;
    // background-color: $color-primary;
	color: $font-color-light;

	> .container {

		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 10vw;

		> .avatar {
			background-image: url('http://tomaszzarnowiec.me/assets/images/11.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			align-self: center;
			width: 280px;
			height: 280px;
			border-radius: 15px;
		}

		> .desc {
			> h1 {
				margin-top: 0;
				font-size: 3em;
				margin-bottom: 1em;
			}

			> p {
				font-size: 1.3em;
				line-height: 1.5em;
			}

			> .btn {
				margin-top: 30px;
				display: inline-block;
				border-color: $font-color-light;
				color: $font-color-light;
			}
		}

	}

	@media (max-width: 767px){
		padding-top: 10vh;
		padding-bottom: 10vh;

		> .container {
			grid-template-columns: 1fr;
			justify-content: center;
			text-align: center;

			> .avatar {
				margin: auto;
				width: 180px;
				height: 180px;
			}

			> .desc {
				> h1 {
					font-size: 2em;
				}

				> p {
					font-size: 1em;
				}
			}
		}
	}

}
